.row {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}
.section {
  padding: 30px;
}

@media (min-width: 767px) {
  .row {
    padding-bottom: 40px;
  }
}

@media (min-width: 1279px) {
  .row {
    padding-bottom: 60px;
  }
}
