.link {
  text-decoration: none;
  width: 120px;
  height: 40px;
  margin: 20px auto 40px;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 23px;
  color: #000000;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #f5f7fa;
  transition: all, 0.4s;
}
.icon {
  width: 30px;
  height: 30px;
  background-image: url('./images/google_PNG19635.png');
  background-size: contain;
}
.link:hover {
  background-color: #ff8330;
}
