.Mobile_section {
  z-index: 2;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Tablet_section {
  composes: Mobile_section;
  max-width: 768px;
  padding: 0 50px;
}

.Default_section {
  composes: Tablet_section;
  max-width: 1280px;
}
