.header {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px 22px;
}
.main {
  position: relative;
  width: 100%;
  display: flex;
}
.Mobile_section {
  z-index: 20;
  position: absolute;
  width: 100vw;
  max-width: 1280px;
  left: 50%;
  transform: translateX(-50%);
  min-height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Mobile_first {
  width: 280px;
  display: flex;
  padding: 0.66rem;
  margin-top: 80px;
}
.Mobile_second {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  min-height: 535px;
  top: +180px;
}
.Tablet_section {
  composes: Mobile_section;
  min-height: 510px;
}
.Tablet_first {
  composes: Mobile_first;
  width: 420px;
}
.Tablet_second {
  composes: Mobile_second;
  top: +220px;
}
.Desktop_section {
  composes: Tablet_section;
  flex-direction: row;
}
.Desktop_first {
  composes: Tablet_first;
  justify-content: center;
  width: 50%;
  margin-top: 200px;
}
.Desktop_second {
  composes: Tablet_second;
  width: 50%;
  top: 110px;
  right: 0;
}
