::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  border-width: 0;
  border-color: #777;
  background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  border-width: 0;
  border-color: #555;
  background-color: #ff8128;
}
::-webkit-scrollbar-track {
  transform: translateX(-6px);
  border-width: 0;
  background-color: #f4f6fb;
}
::-webkit-scrollbar-track:hover ::-webkit-scrollbar-thumb {
  border-width: 0;
  background-color: #ff8128;
}
