.Mobile_section {
  font-size: 13px;
  font-weight: 400;
}
.Tablet_section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 60px;
  padding: 0 14px;
}

.Desktop_section {
  composes: Mobile_section;
  width: 100%;
  max-width: 70px;
  padding: 0 20px;
}
.Mobile_trash {
  width: 34px;
  height: 34px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 50%;
  background-image: url('./images/trash.png');
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  transition: all, 0.5s;
}
.Default_trash {
  composes: Mobile_trash;
  margin-left: 0;
}
.Mobile_trash:hover {
  border: 1px solid #f4f6fb;
  background-color: #f4f6fb;
}
