.Mobile_section {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Tablet_section {
  composes: Mobile_section;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  max-width: 110px;
  padding: 0 14px;
}

.Desktop_section {
  composes: Tablet_section;
  max-width: 130px;
  padding: 0 20px;
}
