.category {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 767px) {
  .category {
    width: 100%;
    font-size: 13px;
    font-weight: 400;
    max-width: 110px;
    padding: 0 14px;
  }
}

@media (min-width: 1279px) {
  .category {
    width: 100%;
    max-width: 130px;
    padding: 0 20px;
  }
}
