.main {
  position: relative;
  z-index: 100;
  height: 200px;
  width: 100%;
  display: flex;
  display: block;
}
.Mobile_container {
  min-width: 320px;
}
.Tablet_container {
  width: 700px;
}
.Desktop_container {
  width: 940px;
}
.Mobile_head {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Default_head {
  composes: Mobile_head;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.Period {
  padding-bottom: 30px;
}
.Mobile_info {
  padding: 20px 20px 0;
  /* margin-bottom: 20px; */
}
.footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 234px;
}
.mainBody {
  z-index: 4;
  width: 100%;
  border-top-left-radius: 0 !important;
}

.Default_info {
  padding: 0px 20px 20px;
}
