.section {
  width: 280px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 767px) {
  .section {
    width: 660px;
    height: 420px;
    padding: 8px;
    margin: 0 auto 20px;
  }
}

@media (min-width: 1279px) {
  .section {
    width: 900px;
    height: 430px;
  }
}
