.Mobile_section {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
.Tablet_section {
  composes: Mobile_section;
  width: 100%;
  font-size: 13px;
  font-weight: 400;
  max-width: 100px;
  padding: 0 14px;
  justify-content: flex-end;
}
.Desktop_section {
  composes: Tablet_section;
  max-width: 120px;
  padding: 0 20px;
}
