.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  letter-spacing: 1px;
  font-family: 'Roboto';
  font-weight: 500;
}
.title {
  color: #52555f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}
.bord {
  padding: 10px 20px;
  background: transparent;
  border: 2px solid #fff;
}
.value {
  composes: bord;
  max-width: 146px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #000000;
  letter-spacing: 0px;
  font-weight: 700;
  text-align: center;
}
.Default_section {
  display: flex;
  flex-direction: row;
}
.Default_title {
  margin: 6px;
  padding-bottom: 0;
}
.Default_value {
  margin: 6px;
}
