.Mobile_row {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px;
}

.section {
  padding: 30px;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Tablet_row {
  composes: Mobile_row;
  padding-bottom: 40px;
}

.Desktop_row {
  composes: Tablet_row;
  padding-bottom: 60px;
}
